// FOLDERS DESTINATION
$filePath: "../../fonts/";
$imgPath: "../../img/";

// COLOR
$primaryColor: #f6a029;
$secondaryColor: #4a9ec0;
$black: #000;
$dark: #323232;
$gray: gray;
$grayLight: #f6f6f6;
$white: #fff;

// BTN LINK COLORS
$btnLink: $white;

// BORDER SHURTCUT COLORT
$borderSolidPrimary: 2px solid $primaryColor;
$borderDashedPrimary: 1px dashed $primaryColor;
$borderSolidSecondary: 2px solid $secondaryColor;
$borderDashedSecondary: 1px dashed $secondaryColor;
$borderSolidDark: 1px solid rgba(128, 128, 128, 0.2);

// MARGIN AUTO
$mxAuto: 0 auto;
$myAuto: auto 0;
$mAuto: auto;

// BORDER RADUIS
$radius5: 5px;
$radius10: 10px;
$radius15: 15px;
$radius20: 20px;
$radius25: 25px;
$radius30: 30px;
$radius35: 35px;
$radius50: 50px;
$radius100: 100px;

// LINE-HEIGT

$lineH40: 40px;
