// MENTIONS LEGALES
.mentions {
  @include containerSize(70%, $mxAuto);
  & > h2 {
    color: $primaryColor;
    @include font("AFF_R", 40);
    padding: 100px 0 30px 50px;
    @include respond("mobile") {
      font-size: 26px;
      padding: 15px;
    }
    @include respond("tab") {
      font-size: 30px;
      padding: 15px;
    }
    @include respond("tabLand") {
      font-size: 34px;
      padding: 15px;
    }
    @include respond("laptop") {
      font-size: 38px;
    }
  }
  & > p {
    font-size: 28px;
    line-height: 38px;
    word-spacing: 1px;
    padding-left: 50px;

    &:last-child {
      padding-bottom: 200px;
    }
    @include respond("mobile") {
      font-size: 18px;
      padding: 15px;
    }
    @include respond("tab") {
      font-size: 24px;
      padding: 15px;
    }
    @include respond("tabLand") {
      font-size: 26px;
      padding: 15px;
      @include respond("laptop") {
        font-size: 28px;
      }
    }
  }
}
