*{padding: 0;margin: 0;box-sizing: border-box;scroll-behavior: smooth;}

@font-face {
    font-family: "Roboto Medium";
    src: url("../../../assets/font/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Abril Fatface";
    src: url("../../../assets/font/Abril_Fatface/AbrilFatface-Regular.ttf");
}

a, li{
    list-style-type: none;
    text-decoration: none;
    color: #141414;
}

.headerBgImg{
    width: 100%;
    height: 680px;
    background: center/cover no-repeat url(../img/headerBgLogin);
    z-index: 5;
    .filtre{
        height: 100%;
        background: #00000090;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #fff;
        h1{
            text-align: center;
            font-size: 45px;
            width: 590px;
            margin-bottom: 50px;
            position: relative;
            font-family: "Abril Fatface", sans-serif;
            font-weight: 300;
        }
        h1::after{
            content: "";
            position: absolute;
            top: 105%;
            left: 33%;
            width: 33%;
            height: 1px;
            background: #F6A029;
        }
        span{
            width: 850px;
            text-align: center;
            font-size: 26px;
            margin-bottom: 50px;
            font-family: "Roboto Medium", sans-serif;
        }
        a{
            padding: 10px 20px;
            border-radius: 25px;
            background: #fff;
            color: #F6A029;
            transition: 0.2s all;
            font-family: "Roboto Medium", sans-serif;
            font-size: 20px;
            &:hover{
                background: #F6A029;
                color: #fff;
            }
        }
    }
}

.linkImgLogoFooter{
    width: 100px;
}

@media screen and (max-width : 950px) {
    .headerBgImg{
        .filtre{
            h1{
                width: 70%;
                text-align: center;
                font-size: 25px;
            }
            span{
                width: 80%;
                font-size: 20px;
            }
        }
    }
}